/* COMMONS */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}

.p_relative {
    position: relative;
}

.list_inline {
    list-style: none;
}
.list_inline li {
    display: inline-block;
}
.list_inline li:not(:last-child) {
    margin-right: 10px;
}

a {
    font-size: 16px;
    color: #006aff;
    transition: color .3s;
}
a:hover {
    text-decoration: none;
    color: #0048c5;
}

.text_underline {
    text-decoration: underline;
}

.btn.btn-default.button_blue {
    border: 1px solid #579aff;
    color: #ffffff;
    background-color: #579aff;
    transition: border .3s;
    transition: color .3s;
    transition: background-color .3s;
}
.btn.btn-default.button_blue:hover {
    border: 1px solid #006aff;
    color: #ffffff;
    background-color: #006aff;
}
.btn.btn-default.button_white_blue {
    border: 1px solid #006aff;
    color: #006aff;
    background-color: #00000000;
    transition: border .3s;
    transition: color .3s;
    transition: background-color .3s;
}
.btn.btn-default.button_white_blue:hover {
    border: 1px solid #006aff;
    color: #ffffff;
    background-color: #006aff;
}
.btn.btn-default.button_white_grey {
    border: 1px solid #00000000;
    color: #747474;
    background-color: #00000000;
    transition: border .3s;
    transition: color .3s;
    transition: background-color .3s;
}
.btn.btn-default.button_white_grey:hover {
    border: 1px solid #00000000;
    color: #031c4e;
    background-color: #00000000;
}

.color_white {
    color: #ffffff;
}
.color_blue {
    color: #006aff;
}
.color_darkblue {
    color: #031c4e;
}
.color_lightblue {
    color: #bdc6ef
}
.color_grey {
    color: #75809a;
}
.color_darkgrey {
    color: #5c6a88;
}
.color_lightgrey {
    color: #9ca6b8;
}
.color_green {
    color: #00d7d2;
}

.background_white {
    background-color: #ffffff
}
.background_blue {
    background-color: #001e9a;
}
.background_darkblue {
    background-color: #031c4e;
}
.background_grey {
    background-color: #f3f5f9;
}

.go_link::after {
    content: "\003E";
    margin-left: 10px;
}

/* HEADER */

/* HEADER NAVIGATION*/
#navigation.navbar-default {
    min-height: 80px;
    border: none;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px #d3d3d3;
}
#navigation .navbar-header .navbar-toggle {
    margin-top: 19px;
    margin-bottom: 19px;
}
#navigation .navbar-header .navbar-brand {
    min-height: 80px;
    line-height: 80px;
    padding-top: 0;
    padding-bottom: 0;
}
#navigation .navbar-header .navbar-brand img {
    display: inline-block;
    width: 150px;
    line-height: 80px;
    vertical-align: middle;
}
#navigation .navbar-nav a {
    line-height: 80px;
    padding: 0 15px;
}
#navigation .dropdown .btn-default {
    line-height: 80px;
    padding: 0 15px;
    border: none;
    border-radius: unset;
    margin: 0;
    font-size: 16px;
    color: #031c4e;
    background-color: unset;
}
#navigation .navbar-nav {
    padding-left: 15px;
}
#navigation.navbar-default .navbar-nav>li>a,
#navigation.navbar-default .navbar-nav>li>.dropdown {
    display: inline-block;
    color: #031c4e;
    transition: color .3s;
}
#navigation.navbar-default .navbar-nav>li>a:hover,
#navigation .btn-default:hover {
    color: #006aff;
}
#navigation .navbar-nav .btn.btn-default.button_white_blue {
    display: inline-block;
    line-height: 35px;
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    color: #006aff;
    transition: border .3s;
    transition: color .3s;
    transition: background-color .3s;
}
#navigation .navbar-nav .btn.btn-default.button_white_blue:hover {
    color: #ffffff;
}
#navigation.navbar-default .navbar-toggle .icon-bar {
    background-color: #006aff;
}
#navigation.navbar-default .navbar-toggle {
    border: none;
}
#navigation .dropdown-menu>li>a {
    color: #031c4e;
}
#navigation .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #006aff!important;
    background-color: #00000000;
}

/* HEADER JUMBOTRON */
#jumbotron {
    margin-top: 80px;
    background-image: url('../img/bg-banner-home.jpg');
    background-position: top;
    background-size: cover;
}
#jumbotron .container {
    padding-top: 40px;
    padding-bottom: 40px;
}
#jumbotron h1 {
    font-size: 45px;
}
#jumbotron p {
    font-size: 24px;
}
#jumbotron #account {
    overflow: hidden;
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #ffffff;
}
#jumbotron #account h2 span {
    display: block;
    margin-bottom: 10px;
}
#jumbotron #account .btn.btn-default {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px #d3d3d3;
}
#jumbotron #account p,
#jumbotron #account p a {
    margin-top: 10px;
    font-size: 12px;
}
#jumbotron #account p a:hover {
    text-decoration: underline;
}
#jumbotron #account a img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    width: 20px;
}

/* MAIN */

/* MAIN CUSTOMERS */
#customers {
    padding: 30px 0;
}
#customers .container {
    overflow-x: hidden;
}
#customers h2 {
    margin-bottom: 30px;
    font-size: 16px;
}
#customers [class*="col-"] {
    line-height: 120px;
}
#customers img {
    width: 170px;
}

/* MAIN CONFIGURATION */

/* MAIN PANEL */

/* MAIN FEATURES */

/* MAIN SERVICE */

/* MAIN TEAMS */

/* MAIN STARTED */

/* FOOTER */


@media screen and (min-width: 768px) {

    /* MAIN */

    /* MAIN CUSTOMERS */
    #customers img {
        width: 110px;
    }

}

@media screen and (min-width: 992px) {

    /* MAIN */

    /* MAIN CUSTOMERS */
    #customers img {
        width: 140px;
    }

}

@media screen and (min-width: 1200px) {

    /* HEADER */

    /* HEADER NAVIGATION */
    #navigation .navbar-nav {
        padding-left: 100px;
    }

    /* HEADER JUMBOTRON */
    #jumbotron h1 {
        font-size: 65px;
    }

    /* MAIN */

    /* MAIN CUSTOMERS */
    #customers img {
        width: 170px;
    }

}


/* MEDIA QUERY NAVBAR COLLAPS */
@media screen and (max-width: 1199px) {

    #navigation .navbar-header {
        float: none;
    }
    #navigation .navbar-toggle {
        display: block;
    }
    #navigation .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 #ffffff1a;
    }
    #navigation .navbar-collapse.collapse {
        display: none!important;
    }
    #navigation .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    #navigation .navbar-nav>li {
        float: none;
    }
    #navigation .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #navigation .navbar-text {
        float: none;
        margin: 15px 0;
    }
    #navigation .navbar-collapse.collapse.in { 
        display: block!important;
        overflow-y: auto!important;
        overflow-x: hidden!important;
    }
    #navigation .collapsing {
        overflow: hidden!important;
    }

}
/* MEDIA QUERY NAVBAR COLLAPS */